* {
  margin: 0;
  padding: 0;
  font-family: 'Skranji', sans-serif;
}

.container {
  /* Flexbox properties*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 10rem;
}
